/* Resetting default styles for the body */
body {
    margin: 0;
    width: auto;
    height: auto;
    font-size: 1.5rem;
    line-height: 35px;
    background-color: rgb(40, 30, 0);
    color: rgb(220, 150, 0);
    text-shadow: 3px 3px 3px rgb(0, 7, 143), 3px 3px 3px rgb(40, 30, 0);
}

/*Overlay settings for mobile menu*/
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity here */
    z-index: 1;
}

.overlay.show-overlay {
    display: block;
}

/* Styling links */
a {
    text-decoration: none;
    color: rgb(220, 150, 0);
    text-shadow: 3px 3px 3px rgb(0, 7, 143), 3px 3px 3px rgb(40, 30, 0);
    font-size: 2rem;
    font-weight: 600;
}

/* Navigation bar styles */
.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    border-bottom: 5px solid rgba(255, 255, 255, 0.2);
}

/* Left-aligned links within the navbar */
.navbar-left a {
    margin-left: 10px;
}

/* Right-aligned links within the navbar */
.navbar-right a {
    margin-left: 10px;
    margin-right: 10px;
}

/* Hamburger menu styles */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: 5%;
}

.menu {
    display: none;
}

.menu.show-menu {
    display: flex;
    z-index: 2;
}

.bar {
    display: none;
    width: 25px;
    height: 3px;
    background-color: rgb(255, 174, 0);
    box-shadow: 3px 3px 3px rgb(0, 7, 143), 3px 3px 3px rgb(40, 30, 0);
    margin: 3px 0;
}

/* Keyframes for slide down animation */
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* Keyframes for slide up animation */
@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

/* Alert styles with slide animations */
.alert {
    animation: slideDown 0.3s ease 0s 1 normal forwards, slideUp 0.3s ease 2s 1 normal forwards;
    background-color: #f44336;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    max-height: 20vh;
    padding: 10px;
    text-align: center;
    z-index: 9999;
    font-size: 1.3rem;
    color: white;
}

/* Success message styles with slide animations */
.success {
    animation: slideDown 0.3s ease 0s 1 normal forwards, slideUp 0.3s ease 2s 1 normal forwards;
    font-size: 1.3rem;
    background-color: green;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    max-height: 20vh;
    padding: 10px;
    text-align: center;
    z-index: 9999;
    color: white;
}

/* Banner styles */
.banner {
    width: 100%;
    height: 100%;
    text-align: center;
}

/* Banner image styles */
.banner-image {
    opacity: 1.0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-left: none;
    border-right: none;
    border-bottom: 5px solid rgba(255, 255, 255, 0.2);
}

/* Banner title styles */
.banner-title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    line-height: 70px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(220, 150, 0);
    text-shadow: 3px 3px 3px rgb(0, 7, 143), 3px 3px 3px rgb(40, 30, 0);
}

/* Index page elements */
.grid-container {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 5%;
    border: 5px solid rgba(255, 255, 255, 0.2);
}

.grid-item-title {
    font-size: 2rem;
    font-weight: 600;
}

.grid-item-link, #frothing, #espresso, #form-button {
    font-size: 1.5rem;
    padding: 10px 20px;
    border: none; 
    border-radius: 5px;
    background-color: rgb(220, 150, 0);
    color: rgb(0, 7, 143);
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-shadow: none;
    margin-top: 20px;
}

.grid-item-link:hover {
    background-color: rgb(255, 174, 0);
    color: rgb(0, 9, 179);
}

.grid-item-link:active {
    transform: translateY(3px);
}

/* Generic title styles */
.title {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
}

/* Text within titles */
.title-text {
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

/* Footer */
footer {
    padding: 2%;
}
.credit {
    font-size: 0.8rem;
}

/* Coffee page */
.coffee-recipe {
    padding: 5%;
}

.coffee-title {
    font-size: 1.4rem;
    font-style: italic;
}

.coffee-tips {
    margin: 5%;
}

.coffee-recipe:nth-child(even) {
    background-color: rgb(24, 17, 0);
}

.coffee-facts > .coffee-fact {
    padding: 5%;
}

.coffee-facts > .coffee-fact:nth-child(odd) {
    background-color: rgb(105, 72, 0);
}

.coffee-education {
    margin: 5%;
}

.coffee-tips-espresso ul li {
    list-style-type: circle;
}

.coffee-tips-froth ul li {
    list-style-type: circle;
}

span {
    font-weight: bolder;
}

.on {
    display: block;
}

.off {
    display: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

button {
    background-color: rgb(99, 74, 0);
    color: white;
    font-size: 1.2rem;
    border: none;
    padding: 2%;
    border-radius: 10%;
    box-shadow: 5px 2px 2px 2px rgb(40, 30, 0);
}

.button {
    background-color: rgb(99, 74, 0);
    color: white;
    font-size: 1.2rem;
    border: none;
    padding: 2%;
    border-radius: 10%;
    box-shadow: 5px 2px 2px 2px rgb(105, 72, 0);
    margin-top: 5%;
}

button:hover {
    background-color: rgb(99, 74, 0);
    transition: 0.2s;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(99, 74, 0);
    transition: 0.2s;
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
}

/*Form Page*/
.about {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    width: auto;
}

.left, .right {
    flex: 1;
    max-height: 100%;
    border-bottom: 5px solid rgba(255, 255, 255, 0.2);
}

.left {
    border-right: solid 5px rgba(255, 255, 255, 0.2);
}

.form-image {
    width: 100%;
    height: 100%;
}

.right p {
    margin: 5%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    font-size: 1.5rem;
    padding: 5%;
}

form input {
    margin: 1%;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
}

/* Mobile Screen Settings */
@media screen and (max-width: 938px) {
    .about {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
        height: 100%;
    }

    .navbar-right {
        display: none;
    }

    .navbar-left {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

    .bar {
        display: block;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #frothing, #espresso, #form-button {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .menu {
        width: 30%;
        max-width: 30%;
        list-style: none;
        padding: 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        top: -5px;
        left: 70px;
    }

    .menu li {
        width: 100%;
        padding: 5%;
        margin-bottom: 2%;
        text-align: center;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .grid-item {
        border-left: 0;
        border-right: 0;
    }

    .left {
        border-right: none;
        border-bottom: none;
    }

    .form-image {
        border-bottom: solid 5px rgba(255, 255, 255, 0.2);
    }
}
