body {
    margin: 0;
    width: auto;
    height: auto;
    font-size: 1.2rem;
    line-height: 35px;
    background-color: rgb(40, 30, 0);
    color: white
}

a {
    text-decoration: underline;
    color: white;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.navbar-left a {
    margin-left: 10px;
}

.navbar-right a {
    margin-left: 10px;
    margin-right: 10px;
}

@keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }

.alert {
    animation: slideDown 0.3s ease 0s 1 normal forwards, slideUp 0.3s ease 2s 1 normal forwards;
    background-color: #f44336;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    max-height: 20vh;
    padding: 10px;
    text-align: center;
    z-index: 9999;
    font-size: 1.3rem;
    color: white;
}

.success {
    animation: slideDown 0.3s ease 0s 1 normal forwards, slideUp 0.3s ease 2s 1 normal forwards;
    font-size: 1.3rem;
    background-color: green;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    max-height: 20vh;
    padding: 10px;
    text-align: center;
    z-index: 9999;
    color: white;
}

.main {
    margin-left: 5%;
    margin-right: 5%;
}

.home-section {
    margin-left: 5%;
    margin-right: 5%;
}

.coffee-tips {
    margin: 5%;
}

.banner {
    position: relative;
    width: 100%;
    text-align: center;
}

.banner-image {
    opacity: 1.0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 90vh;
}

.banner-title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    line-height: 70px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(220, 150, 0);
    text-shadow: 3px 3px 3px rgb(0, 7, 143), 3px 3px 3px rgb(40, 30, 0);

}

.title {
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
}

.title-text {
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
}

.coffee-recipe {
    padding: 5%;
}

.coffee-title {
    font-size: 1.4rem;
    font-style: italic;
}

.coffee-recipe:nth-child(even) {
    background-color: rgb(105, 72, 0);
}

.coffee-facts > .coffee-fact {
    padding: 5%;
}

.coffee-facts > .coffee-fact:nth-child(odd) {
    background-color: rgb(105, 72, 0);
}

.coffee-education {
    margin: 5%;
}

ul li {
    list-style-type: circle;
}

span {
    font-weight: bolder;
}

.on {
    display: block;
}

.off {
    display: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

button {
    background-color: rgb(99, 74, 0);
    color: white;
    font-size: 1.2rem;
    border: none;
    padding: 2%;
    border-radius: 10%;
    box-shadow: 5px 2px 2px 2px rgb(40, 30, 0);
}

.button {
    background-color: rgb(99, 74, 0);
    color: white;
    font-size: 1.2rem;
    border: none;
    padding: 2%;
    border-radius: 10%;
    box-shadow: 5px 2px 2px 2px rgb(105, 72, 0);
    margin-top: 5%;
}

button:hover {
    background-color: rgb(99, 74, 0);
    transition: 0.2s;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(99, 74, 0);
    transition: 0.2s;
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    font-size: 1.5rem;
    padding: 5%;
}

form input {
    margin: 1%;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
}

.left {
    height: 100%;
    width: 50%;
}

.right {
    height: 100%;
    width: 50%;
}

.right p:nth-child(2) {
    padding: 5%;
}

.right p:nth-child(3) {
    padding: 5%;
}

@media (max-width: 1000px) {
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .about div {
        width: 100%;
        height: 100%;
    }
}

img {
    height: 100%;
    width: 100%;
}

.credit {
    font-size: 0.8rem;
}

footer {
    background-color: rgb(105, 72, 0);
    color: white;
    width: 100%;
    max-width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 5%;
}
