body {
    margin: 0;
    width: auto;
    height: auto;
    font-size: 1.2rem;
}

.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

.navbar-left a {
    margin-left: 10px;
}

.navbar-right a {
    margin-left: 10px;
    margin-right: 10px;
}

.alert {
    font-size: 1.3rem;
    color: red;
}

.success {
    font-size: 1.3rem;
    color: green;
}

.main {
    margin: 5%;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 2rem;
    font-weight: bolder;
}

.title-text {
    font-size: 1.5rem;
}