{% extends "layout.html" %} {% block body %}
<section class="about">
  <div class="left">
    <img class="form-image" src="../static/coffee-cup.jpg" alt="coffee-cup">
  </div>
  <div class="right">
    <p class="title">Get yourself a coffee on us.</p>
    <p>Want to see more on here? Maybe you have an itch to learn more coffee facts?
      Are you interested in seeing more recipes for the cold coffee lovers?
      Would you like to speak with the mind behind Coffee Lover's Club?
      Enter your name and email below and we'll get back to you. Thanks again
      for being with us!
    </p>
    <form action="/mail" method="POST">
      <label for="name">First Name</label>
      <input id="name" name="name" placeholder="Name" type="text" required />
      <label for="email">Email</label>
      <input id="email" name="email" placeholder="Enter your email" autofocus="on" autocomplete="off" type="text"
        required />
      <input id="form-button" type="submit" />
    </form>
    {% with flash_message = session.pop('flash_message', None) %} {% if
    flash_message %}
    <div class="alert">
      <p>{{ flash_message['message'] }}</p>
    </div>
    {% endif %} {% endwith %}
  </div>
</section>
{% endblock %}