{% extends "layout.html" %} {% block body %}

<section>
  {% with flash_message = session.pop('flash_message', None) %} {% if
  flash_message %}
  <div class="success">
    <h2>{{ flash_message['message'] }}</h2>
  </div>
  {% endif %} {% endwith %}

  <div class="banner">
    <img class="banner-image" src="../static/cup-home.jpg" alt="coffee-cup">
    <p class="banner-title"></p>
  </div>

  <div class="grid-container">
    <div class="grid-item">
      <h2 class="grid-item-title">Learn About Coffee</h2>
      <p>
        Ever wonder how coffee was first discovered? Did you know that coffee was once feared as a
        potential tool for anarchists? Sate your appetite for knowledge and learn all about the history of
        the bean, along with some interesting facts.
      </p>
      <a class="grid-item-link" href="/facts">
        See Facts
      </a>
    </div>
    <div class="grid-item">
      <h2 class="grid-item-title">Make Great Coffee</h2>
      <p>
        Get rid of the old coffee machine and take your skills to the next level with our coffee-making guide.
        We have a guide for beginners and more seasoned coffee drinkers, including how to make the perfect
        espresso and milk foam each and every time. Excited? Come on over.
      </p>
      <a class="grid-item-link" href="/coffee">
        See Guide
      </a>
    </div>
    <div class="grid-item">
      <h2 class="grid-item-title">Learn About Us</h2>
      <p>
        We are dedicated to providing you with the best guides on making your own cup of Joe in the comfort of
        your home. If you would like to know more about how Coffee Lover's Club came to be or simply have a request
        for us (maybe you want to see some iced coffee recipes), feel free to take a look.
      </p>
      <a class="grid-item-link" href="/about">
        See About
      </a>
    </div>
  </div>
</section>
{% endblock %}