{% extends "layout.html" %} {% block body %}

<section>
  {% with flash_message = session.pop('flash_message', None) %} {% if
  flash_message %}
  <div class="success">
    <h2>{{ flash_message['message'] }}</h2>
  </div>
  {% endif %} {% endwith %}

  <div class="banner">
    <img class="banner-image" src="../static/cup-home.jpg" alt="coffee-cup">
    <p class="banner-title">Coffee Lover's Club</p>
  </div>
  <div class="home-section">
    <p class="title">
      Cool Coffee Facts
    </p>
    <p>
      Ever wonder how coffee was first discovered? Did you know that coffee was once feared as a
      potential tool for anarchists? Sate your appetite for knowledge and learn all about the history of
      the bean, along with some interesting facts.
    </p>
    <a class="button" href="/facts">
      See Coffee Facts
    </a>
  </div>
  <div class="home-section">
    <p class="title">
      Making Great Coffee
    </p>
    <p>
      Get rid of the old coffee machine and take your skills to the next level with our coffee-making guide.
      We have a guide for beginners and more seasoned coffee drinkers, including how to make the perfect
      espresso and milk foam each and every time. Excited? Come on over.
    </p>
    <a class="button" href="/coffee">
      Start Making Coffee
    </a>
  </div>
  <div class="home-section">
    <p class="title">
      Learn About Us
    </p>
    <p>
      We are dedicated to providing you with the best guides on making your own cup of Joe in the comfort of
      your home. If you would like to know more about how Coffee Lover's Club came to be or simply have a request
      for us (maybe you want to see some iced coffee recipes), feel free to take a look.
    </p>
    <a class="button" href="/about">
      About Us
    </a>
  </div>
</section>
{% endblock %}