<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <title>Coffee Lover's Club</title>
</head>
<body>
    <nav class="navbar">
        <!-- Hamburger -->
        <div class="menu-toggle">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <!-- Responsive menu -->
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/coffee">Coffee</a></li>
            <li><a href="/facts">Facts</a></li>
        </ul>
        <div class="navbar-left">
            <a href="/">Coffee Lover's Club</a>
        </div>
        <div class="navbar-right">
            <a href="/about">About</a>
            <a href="/coffee">Coffee</a>
        </div>
    </nav>
    <div class="overlay"></div>
    {% block body %}{% endblock %}
    <footer>
        <p>&COPY;Coffee Lover's Club 2023</p>
        <p class="credit">Photos by Ian Baldwin, Nathan Dumlao on Upsplash</p>
    </footer>
    <script src="../static/dev-coffee.js"></script>
</body>
</html>