<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Coffee Lover's Club</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="/">Home</a>
        </div>
        <div class="navbar-right">
            <a href="/about">About</a>
            <a href="/coffee">Coffee</a>
        </div>
    </nav>
    {% block body %}{% endblock %}
    <footer>
        <p>&copy;Coffee Lover's Club, 2023</p>
    </footer>
    <script src="../static/prod-min.js"></script>
</body>
</html>